<ol id="combat-tracker" class="directory-list combatants">
  {{#each combatants as |c|}}
  {{#if (or c.isOwner (eq c.hidden false))}}
  <li class="combatant {{#if c.hidden}}hidden{{/if}} {{#if (eq c.actor.data.type "PC")}}PC{{else}}{{disposition c.token.data.disposition}}{{/if}} directory-item actor-elem grid grid-12col" data-actor-id="{{c.actor.data._id}}" data-token-id="{{c.tokenId}}" data-combatant-id="{{this.id}}" data-actor-type="{{c.actor.data.type}}">
    {{!-- Token image --}}
    <div class="grid-span-2 img-div">
      <img class="token-image" id="combat-img" src="{{c.actor.img}}" alt="Thumbnail image for {{c.name}}">
      <div class="token-initiative">
        {{#if c.hasRolled}}
        <span class="initiative">{{roundUp c.initiative}}</span>
        {{else if c.isOwner}}
        <a class="combatant-control roll {{#if c.hidden}}hidden{{/if}}" title="{{localize 'COMBAT.InitiativeRoll'}}" data-control="rollInitiative"></a>
        {{else}}
        <span class="initiative">?</span>
        {{/if}}
      </div>
    </div>
    <div class="grid-span-10">
      <table class="combat-table">
        <tr>
          <td class="combatant-name" colspan="100">
            <p>{{c.name}}</p>
          </td>
        </tr>
        <tr class="combatant-controls">
          {{!-- PCs --}}
          {{#if (eq c.actor.data.type "PC")}}
          <td class="combatant-buttons pc">
            {{#if c.isGM}}
            <a class="combatant-control {{#if c.hidden}}active{{/if}}" title="{{localize 'COMBAT.ToggleVis'}}" data-control="toggleHidden">
              <i class="fas fa-eye-slash"></i>
            </a>
            {{/if}}
            {{#if c.isOwner}}
            <a class="combatant-control {{#if c.impaired}}active{{/if}}" title="Impaired" data-control="markImpaired">
              <i class="fas fa-heartbeat"></i>
            </a>
            <a class="combatant-control {{#if c.debilitated}}active{{/if}}" title="Debilitated" data-control="markDebilitated">
              <i class="fas fa-user-injured"></i>
            </a>
            <a class="combatant-control {{#if c.dead}}active{{/if}}" title="Dead" data-control="markDead">
              <i class="fas fa-skull"></i>
            </a>
            {{/if}}
          </td>
          <td class="combatant-values">
            <div class="combat-input">
              <p class="truncate">Might</p>
              {{#if c.isOwner}}
              <input id="might" class="combat-input {{#if c.hidden}}hidden{{/if}}" type="text" name="data.pools.might.value" value="{{c.actor.data.data.pools.might.value}}" data-dtype="Number">
              {{else if c.isObserver}}
              <p>{{c.actor.data.data.pools.might.value}}</p>
              {{else}}<p>?</p>{{/if}}
            </div>
          </td>
          <td class="combatant-values">
            <div class="combat-input">
              <p class="truncate">Speed</p>
              {{#if c.isOwner}}
              <input id="speed" class="combat-input {{#if c.hidden}}hidden{{/if}}" type="text" name="data.pools.speed.value" value="{{c.actor.data.data.pools.speed.value}}" data-dtype="Number">
              {{else if c.isObserver}}
              <p>{{c.actor.data.data.pools.speed.value}}</p>
              {{else}}<p>?</p>{{/if}}
            </div>
          </td>
          <td class="combatant-values">
            <div class="combat-input">
              <p class="truncate">Intellect</p>
              {{#if c.isOwner}}
              <input id="intellect" class="combat-input {{#if c.hidden}}hidden{{/if}}" type="text" name="data.pools.intellect.value" value="{{c.actor.data.data.pools.intellect.value}}" data-dtype="Number">
              {{else if c.isObserver}}
              <p>{{c.actor.data.data.pools.intellect.value}}</p>
              {{else}}<p>?</p>{{/if}}
            </div>
          </td>
          {{/if}}
          {{!-- NPCs & Companions --}}
          {{#if (or (eq c.actor.data.type "NPC") (eq c.actor.data.type "Companion"))}}
          <td class="combatant-buttons">
            {{#if c.isGM}}
            <a class="combatant-control {{#if c.hidden}}active{{/if}}" title="{{localize 'COMBAT.ToggleVis'}}" data-control="toggleHidden">
              <i class="fas fa-eye-slash"></i>
            </a>
            <a class="combatant-control {{#if c.dead}}active{{/if}}" title="Dead" data-control="markDead">
              <i class="fas fa-skull"></i>
            </a>
            {{/if}}
          </td>
          <td class="combatant-values">
          </td>
          <td class="combatant-values">
            <div class="combat-input">
              <p class="truncate">Health</p>
              {{#if c.isOwner}}
              <input id="health" class="combat-input {{#if c.hidden}}hidden{{/if}}" type="text" name="data.health.value" value="{{c.actor.data.data.health.value}}" data-dtype="Number">
              {{else if c.isObserver}}
              <p>{{c.actor.data.data.health.value}}</p>
              {{else}}<p>?</p>{{/if}}
            </div>
          </td>
          <td class="combatant-values">
            <div class="combat-input">
              <p class="truncate">Damage</p>
              {{#if (or c.isOwner c.isObserver)}}
              <p>{{c.actor.data.data.damage}}</p>
              {{else}}<p>?</p>{{/if}}
            </div>
          </td>
          <td class="combatant-values">
            <div class="combat-input">
              <p class="truncate">Armor</p>
              {{#if (or c.isOwner c.isObserver)}}
              <p>{{c.actor.data.data.armor}}</p>
              {{else}}<p>?</p>{{/if}}
            </div>
          </td>
          {{/if}}
          {{!-- Communitees --}}
          {{#if (eq c.actor.data.type "Community")}}
          <td class="combatant-buttons">
            {{#if c.isGM}}
            <a class="combatant-control {{#if c.hidden}}active{{/if}}" title="{{localize 'COMBAT.ToggleVis'}}" data-control="toggleHidden">
              <i class="fas fa-eye-slash"></i>
            </a>
            <a class="combatant-control {{#if c.dead}}active{{/if}}" title="Dead" data-control="markDead">
              <i class="fas fa-skull"></i>
            </a>
            {{/if}}
          </td>
          <td class="combatant-values">
            <div class="combat-input">
              <p class="truncate">Health</p>
              {{#if c.isOwner}}
              <input id="health" class="combat-input {{#if c.hidden}}hidden{{/if}}" type="text" name="data.health.value" value="{{c.actor.data.data.health.value}}" data-dtype="Number">
              {{else if c.isObserver}}
              <p>{{c.actor.data.data.health.value}}</p>
              {{else}}<p>?</p>{{/if}}
            </div>
          </td>
          <td class="combatant-values">
            <div class="combat-input">
              <p class="truncate">Infrastructure</p>
              {{#if c.isOwner}}
              <input id="infrastructure" class="combat-input {{#if c.hidden}}hidden{{/if}}" type="text" name="data.infrastructure.value" value="{{c.actor.data.data.infrastructure.value}}" data-dtype="Number">
              {{else if c.isObserver}}
              <p>{{c.actor.data.data.infrastructure.value}}</p>
              {{else}}<p>?</p>{{/if}}
            </div>
          </td>
          <td class="combatant-values">
            <div class="combat-input">
              <p class="truncate">Damage</p>
              {{#if (or c.isOwner c.isObserver)}}
              <p>{{c.actor.data.data.damage}}</p>
              {{else}}<p>?</p>{{/if}}
            </div>
          </td>
          <td class="combatant-values">
            <div class="combat-input">
              <p class="truncate">Armor</p>
              {{#if (or c.isOwner c.isObserver)}}
              <p>{{c.actor.data.data.armor}}</p>
              {{else}}<p>?</p>{{/if}}
            </div>
          </td>
          {{/if}}
          {{!-- Vehicles --}}
          {{#if (eq c.actor.data.type "Vehicle")}}
          <td class="combatant-buttons">
            {{#if c.isGM}}
            <a class="combatant-control {{#if c.hidden}}active{{/if}}" title="{{localize 'COMBAT.ToggleVis'}}" data-control="toggleHidden">
              <i class="fas fa-eye-slash"></i>
            </a>
            <a class="combatant-control {{#if c.dead}}active{{/if}}" title="Dead" data-control="markDead">
              <i class="fas fa-skull"></i>
            </a>
            {{/if}}
          </td>
          <td class="combatant-values">
          </td>
          <td class="combatant-values">
          </td>
          <td class="combatant-values">
            <div class="combat-input">
              <p class="truncate">Crew</p>
              {{#if (or c.isOwner c.isObserver)}}
              <p>{{c.actor.data.data.crew}}</p>
              {{else}}<p>?</p>{{/if}}
            </div>
          </td>
          <td class="combatant-values">
            <div class="combat-input">
              <p class="truncate">Weapons</p>
              {{#if (or c.isOwner c.isObserver)}}
              <p>{{c.actor.data.data.weaponSystems}}</p>
              {{else}}<p>?</p>{{/if}}
            </div>
          </td>
          {{/if}}
          {{!-- Marker --}}
          {{#if (eq c.actor.data.type "Token")}}
          <td class="combatant-buttons">
            {{#if c.isGM}}
            <a class="combatant-control {{#if c.hidden}}active{{/if}}" title="{{localize 'COMBAT.ToggleVis'}}" data-control="toggleHidden">
              <i class="fas fa-eye-slash"></i>
            </a>
            {{/if}}
          </td>
          <td class="combatant-values">
          </td>
          <td class="combatant-values">
          </td>
          <td class="combatant-values">
            <div class="combat-input">
              <p class="truncate">Quantity</p>
              {{#if c.isOwner}}
              <input id="quantity" class="combat-input {{#if c.hidden}}hidden{{/if}}" type="text" name="data.quantity.value" value="{{c.actor.data.data.quantity.value}}" data-dtype="Number">
              {{else if c.isObserver}}
              <p>{{c.actor.data.data.quantity.value}}</p>
              {{else}}<p>?</p>{{/if}}
            </div>
          </td>
          <td class="combatant-values">
            <div class="combat-input">
              <p class="truncate">Max</p>
              {{#if (or c.isOwner c.isObserver)}}
              <p>{{c.actor.data.data.quantity.max}}</p>
              {{else}}<p>?</p>{{/if}}
            </div>
          </td>
          {{/if}}
        </tr>
      </table>
    </div>
  </li>
  {{/if}}
  {{/each}}
</ol>