<ol id="combat-tracker" class="directory-list combatants">
  {{#each combatants as |c|}}
        <li class="combatant {{c.actor.data.type}} directory-item actor-elem grid grid-12col" data-actor-id="{{c.actor.data._id}}" data-token-id="{{c.tokenId}}" data-combatant-id="{{this.id}}" data-actor-type="{{c.actor.data.type}}">
          {{!-- Token image --}}
          <div class="grid-span-2 img-div">
              <img class="token-image" id="combat-img" src="{{c.actor.img}}" alt="Thumbnail image for {{c.name}}">
              <div class="token-initiative">
                {{#if c.hasRolled}}
                <span class="initiative">{{c.initiative}}</span>
                {{else if c.editable}}
                <a class="combatant-control roll" title="{{localize 'COMBAT.InitiativeRoll'}}" data-control="rollInitiative"></a>
                {{/if}}
              </div>
          </div>
          {{!-- Name. --}}
          <div class="token-name grid-span-4">
              <h4>{{c.name}}</h4>
              <div class="combatant-controls flexrow">
                    {{#if c.editable}}
                      <a class="combatant-control {{#if c.hid}}active{{/if}}" title="{{localize 'COMBAT.ToggleVis'}}" data-control="toggleHidden">
                          <i class="fas fa-eye-slash"></i>
                      </a>
                      {{#ifCond c.actor.data.type '==' "PC"}}
                      <a class="combatant-control {{#if c.hale}}active{{/if}}" title="Hale" data-control="markHale">
                        <i class="fas fa-check-circle"></i>
                      </a>
                      <a class="combatant-control {{#if c.impaired}}active{{/if}}" title="Impaired" data-control="markImpaired">
                          <i class="fas fa-tired"></i>
                      </a>                      
                      <a class="combatant-control {{#if c.debilitated}}active{{/if}}" title="Debilitated" data-control="markDebilitated">
                          <i class="fas fa-user-injured"></i>
                      </a>
                      {{/ifCond}}
                      <a class="combatant-control {{#if c.dead}}active{{/if}}" title="Dead" data-control="markDead">
                          <i class="fas fa-skull"></i>
                      </a>
                    {{/if}}
                </div>
          </div>
          {{!-- Health, editable by owner or GM --}}
          {{#ifCond c.actor.data.type '==' "PC"}}
          <div class="grid-span-2 combat-input">
            <label for="might">Might</label>
            {{#if c.displayStat}}
              {{#if c.editable}}
                <input id="might" class="combat-input" type="text" name="data.pools.might.value" value="{{c.actor.data.data.pools.might.value}}" data-dtype="Number">
              {{else}}
                <p>{{c.actor.data.data.pools.might.value}}</p>
              {{/if}}
            {{else}}???{{/if}}
          </div>
          <div class="grid-span-2 combat-input">
            <label for="speed">Speed</label>
            {{#if c.displayStat}}
              {{#if c.editable}}            
              <input id="speed" class="combat-input" type="text" name="data.pools.speed.value" value="{{c.actor.data.data.pools.speed.value}}" data-dtype="Number">
              {{else}}
                <p>{{c.actor.data.data.pools.speed.value}}</p>
              {{/if}}
            {{else}}???{{/if}}
          </div>
          <div class="grid-span-2 combat-input">           
            <label for="intellect">Intellect</label>
            {{#if c.displayStat}}
            {{#if c.editable}}
            <input id="intellect" class="combat-input" type="text" name="data.pools.intellect.value" value="{{c.actor.data.data.pools.intellect.value}}" data-dtype="Number">
            {{else}}
                <p>{{c.actor.data.data.pools.intellect.value}}</p>
            {{/if}}
            {{else}}???{{/if}}
          </div>
          {{/ifCond}}
          {{!-- Render Armor and Damage for NPCs --}}
          {{#ifCond c.actor.data.type '!=' "PC"}}
          <div class="grid-span-2 combat-input">
            {{#if c.displayStat}}
              {{#if c.editable}}
                <label for="health">Health</label>
                <input id="health" class="combat-input" type="text" name="data.health.value" value="{{c.actor.data.data.health.value}}" data-dtype="Number">
              {{else}}
                <p>{{c.actor.data.data.health.value}}</p>
              {{/if}}
            {{else}}???{{/if}}
          </div>          
          <div class="grid-span-2 combat-input">
            <label for="armor">Armor</label>
            {{#if c.editable}}
            <p>{{c.actor.data.data.armor}}</p>
            {{else}}???{{/if}}
          </div>
          <div class="grid-span-2 combat-input">
            <label for="damage">Damage</label>
            {{#if c.editable}}            
            <p>{{c.actor.data.data.damage}}</p>
            {{else}}???{{/if}}
          </div>
          {{/ifCond}}
        </li>
  {{/each}}
</ol>